[submodule ".registry"]
	path = .registry
	url = https://github.com/mcanouil/universe
	branch = HEAD
[submodule "MiSTr"]
	path = MiSTr
	url = https://github.com/mcanouil/MiSTr
[submodule "NACHO"]
	path = NACHO
	url = https://github.com/mcanouil/NACHO
[submodule "eggla"]
	path = eggla
	url = https://github.com/mcanouil/eggla
[submodule "insane"]
	path = insane
	url = https://github.com/mcanouil/insane
