[submodule ".registry"]
	path = .registry
	url = https://github.com/mcanouil/universe
	shallow = true
	branch = HEAD
[submodule "clere"]
	path = clere
	url = https://github.com/mcanouil/clere
	shallow = true
	registered = true
[submodule "eggla"]
	path = eggla
	url = https://github.com/mcanouil/eggla
	shallow = true
	registered = true
[submodule "ggnetwork"]
	path = ggnetwork
	url = https://github.com/briatte/ggnetwork
	shallow = true
	registered = true
[submodule "ggpacman"]
	path = ggpacman
	url = https://github.com/mcanouil/ggpacman
	shallow = true
	registered = true
[submodule "insane"]
	path = insane
	url = https://github.com/mcanouil/insane
	shallow = true
	registered = true
[submodule "MiSTr"]
	path = MiSTr
	url = https://github.com/mcanouil/MiSTr
	shallow = true
	registered = true
[submodule "NACHO"]
	path = NACHO
	url = https://github.com/mcanouil/NACHO
	shallow = true
	registered = true
[submodule "snpEnrichment"]
	path = snpEnrichment
	url = https://github.com/mcanouil/snpEnrichment
	shallow = true
	registered = true
[submodule "umr1283"]
	path = umr1283
	url = https://github.com/umr1283/umr1283
	shallow = true
	registered = true
